 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>After 13+ years as an engineer in the aerospace industry, I made a decision to change career paths.  My current personal situation allowed me the opportunity to quit my engineering job and enroll full-time in the full stack web development course at <a href="http://www.bloc.io" id=redLink>Bloc</a>.</p>
                </div>
                <div class="col-lg-4">
                    <p>The Bloc coursework will be wrapping up shortly and I am looking forward to finding a place where I can dig my heels in and build upon what I've learned.  My primary focus will be on front end development but I am open to whatever comes my way.</p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>
        </div>
    </section>